variables:
  solution: "**/*.sln"
  buildConfiguration: "Release"
  codecovToken: "$(codecov.token)"

# https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/?view=vsts


steps:
  - task: gittools.gitversion.gitversion-task.GitVersion@3
    displayName: gitversion

  - task: DotNetCoreCLI@2
    displayName: "dotnet restore"
    inputs:
      command: restore
      projects: "**/*.csproj"
      verbosityRestore: Normal

  - task: DotNetCoreCLI@2
    displayName: "dotnet build"
    inputs:
      projects: "$(solution)"
      arguments: "--configuration $(buildConfiguration) /p:AssemblyVersion=$(GitVersion.AssemblySemVer);FileVersion=$(GitVersion.AssemblySemVer);InformationalVersion=$(GitVersion.InformationalVersion)"

  - task: DotNetCoreCLI@2
    displayName: "dotnet test"
    inputs:
      command: test
      projects: "**/*[Tt]ests/*UnitTests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput='$(Build.ArtifactStagingDirectory)" # https://github.com/tonerdo/coverlet
      arguments: "--configuration $(buildConfiguration)"

  - task: Bash@3
    displayName: "codecov upload" # https://docs.codecov.io/docs/about-the-codecov-bash-uploader
    inputs:
      targetType: "filePath"
      filePath: "./tests/UnitTests/CodecovUploader.sh"
      workingDirectory: $(Agent.BuildDirectory)
      arguments: "-f coverage.opencover.xml -t $codecovToken"

  - task: DotNetCoreCLI@2
    displayName: "dotnet publish"
    inputs:
      command: publish
      publishWebProjects: True
      arguments: "--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)"
      zipAfterPublish: True

  - task: DotNetCoreCLI@2
    displayName: "dotnet nuget pack"
    inputs:
      command: pack
      buildProperties: "Version=$(GitVersion.NuGetVersion)"
      verbosityPack: Normal

  - task: DotNetCoreCLI@2
    displayName: "dotnet nuget push"
    inputs:
      command: push
    enabled: false
    continueOnError: true

  - task: PublishBuildArtifacts@1
    displayName: "publish artifacts"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
