<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="naos-public" value="https://pkgs.dev.azure.com/doomsday32/Naos/_packaging/naos-public/nuget/v3/index.json" />
  </packageSources>
</configuration>