body {
    background-color: black;
    color: white;
    font-family: monospace;
    margin: 0px;
    margin-left: 15px;
    /*margin: 1em 0px;*/
    font-size: 12px;
}

a {
    text-decoration: none;
    color: gray;
}

    /*a:link {
    }*/

    /*a:visited {
    }*/

    a:hover {
        color: #E2D46A;
        text-decoration: underline;
    }

    a:active {
        color: #37CAEC;
    }

    a.current {
        color: #E2D46A;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222222;
    margin: 1em 0;
    padding: 0;
}

i {
    color: #E2D46A;
}